.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.margin-top-80 {
  margin-top: 80px;
}

div {
  border: .5px lightslategray dotted;
  padding: 1px;
}

.page-header{
  margin-top:0px;
  margin-bottom:20px;
  border-style:none;
  color:teal;
}

.collapse navbar-collapse{
  border-style:none;
}

#navbarSupportedContent{
  border-style:none;
}

.dropdown-item{
  color:maroon;
}


#navolink{
}

.btn{
  color:maroon;
  border-color:black;
}

#indexlink{
  color:rebeccapurple;
}

.bg{
  background-image:urL(ATX.jpeg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}